pre,
code {
  font-family: $sta-font-mono, monospace;
  color: #268BD2;
  background-color: transparent; /* changes the colour directly behind the text. If not specified here it defaults to red*/
}

/* Background colour of code block is controled by /* .chroma { color: #586e75; background-color: #FDF6E3 } in static/highlight-light.css*/

pre {
  margin: 0 0 1rem 0;
  background-color: #FDF6E3; /* Match default highlight theme. CAN'T FIGURE OUT WHAT THIS CHANGES*/
  border: 15px;
  font-size: 0.75rem;
  border-radius: 12px;
  padding: 12px;
}

pre code {
  white-space: pre; /* Override Bootstrap to preserve line breaks in code. */
  overflow-x: auto;
}

h1, h2, h3 {
  text-transform: uppercase;
}

#about .portrait-title h3 {
  font-family: "Raleway";
  margin-top: 10px;
  font-size: 0.75rem;
}

