pre,
code {
  font-family: $sta-font-mono, monospace;
  color: #11DB82;
  background-color: #FDF6E3;
}

pre {
  margin: 0 0 1rem 0;
  background-color: #FDF6E3; /* Match default highlight theme. */
  border: 15px;
  font-size: 0.75rem;
  border-radius: 12px;
}

pre code {
  white-space: pre; /* Override Bootstrap to preserve line breaks in code. */
  overflow-x: auto;
}

