/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/3c062d");

@font-face {
  font-family: 'LEMONMILKPro-Medium';
  src: url('fonts/LEMONMILKPro-Medium.woff2') format('woff2'), url('fonts/LEMONMILKPro-Medium.woff') format('woff');
}
@font-face {
  font-family: 'LEMONMILKPro-SemiBold';
  src: url('fonts/LEMONMILKPro-SemiBold.woff2') format('woff2'), url('fonts/LEMONMILKPro-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'LEMONMILKPro-Regular';
  src: url('fonts/LEMONMILKPro-Regular.woff2') format('woff2'), url('fonts/LEMONMILKPro-Regular.woff') format('woff');
}
@font-face {
  font-family: 'LEMONMILKPro-Light';
  src: url('fonts/LEMONMILKPro-Light.woff2') format('woff2'), url('fonts/LEMONMILKPro-Light.woff') format('woff');
}
@font-face {
  font-family: 'LEMONMILKPro-UltraLight';
  src: url('fonts/LEMONMILKPro-UltraLight.woff2') format('woff2'), url('fonts/LEMONMILKPro-UltraLight.woff') format('woff');
}



/*Trying to figure out how to override some elements of the highlight-light.css */
/*This doesn't have the effect I was hoping, i.e. nothing visible */
/* Background */ .chroma { color: #586e75; background-color: #657B83 }

/*

@font-face {
    font-family: 'LEMON/MILK';
    src: local('LEMONMILK-Regular'), url("fonts/LEMONMILK-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'Museo Slab';
    src: local('MuseoSlab-500'), url("fonts/MuseoSlab-500.otf") format("opentype");
}

*/

/*
@font-face {
  font-family: 'Lemon Milk';
  src: local('lemonmilk_regular'), url('fonts/lemonmilk_regular.woff2') format('woff2'),
       url('fonts/lemonmilk_regular.woff') format('woff'),
       url('fonts/lemonmilk_regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lemon Milk Bold';
  src: local('lemonmilk_bold'), url('fonts/lemonmilk_bold.woff2') format('woff2'),
       url('fonts/lemonmilk_bold.woff') format('woff'),
       url('fonts/lemonmilk_bold.ttf') format('truetype');
   font-weight: 900;
   font-style: normal;
}

@font-face {
  font-family: 'Lemon Milk Light';
  src: local('lemonmilk_light'), url('fonts/lemonmilk_light.woff2') format('woff2'),
       url('fonts/lemonmilk_light.woff') format('woff'),
       url('fonts/lemonmilk_light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
*/
